.body {
    background-image: linear-gradient(
        to bottom,
        #437b92,
        #3c8294,
        #398993,
        #3b9091,
        #43968c
    );
}

@media (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .column {
        padding: 20px;
    }

    .right-col {
        display: flex;
        justify-content: right;
        font-size: 2rem;
        color: red;
        font-weight: 500;
        position: relative;
        left: 3vw;
    }
}

#title {
    color: red;
}

#bg-black {
    background-color: black;
    transition: background-color 3s ease-in; /* Add this line */
}

.word {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.animate-word {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    opacity: 1;
    transition: all 2s ease;
}
