body,
html {
    /* overflow: hidden; */
    height: 100%;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

TitleCard {
    margin-top: 100px;
}
