body,
html {
    height: 100%;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.color-overlay {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.content {
    position: relative;
    z-index: 1;
}
